$overflow-help: initial;
body {
    overflow: $overflow-help;
}

.partTwoLayout {
    .contRegisterTwo {
        height: 100%;
        padding-bottom: 300px;
        margin-top: 70px;
    }
    .tablediv {
        margin-left: 150px;
        margin-right: 150px;
    }
    [contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text);
        color: gray;
    }
    .tdInput, .sponsorInput{
        max-width: 100px;
        word-break: break-all;
    }
    ul li {
        cursor: pointer;
    }
    .ifExistingClass {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
