<template name="register">
    <div class="container">
        {{#if isOne}} {{> part1}} {{/if}} {{#if isTwo}} {{> part2}} {{/if}} {{#if isThree}} {{> part3}} {{/if}}
    </div>
</template>
<template name="part1">
    <div class="row">
        <h1 class="white-text">Which is your hackathon?</h1> {{#each hackathons}}
        <div class="col s6 m3">
            <div id="{{_id}}" class="card small waves-effect waves-block waves-light hackathon-card">
                <div class="card-image">
                    <img src="{{imageURL}}">
                </div>
                <div class="event-logo">
                    <img src="{{logoURL}}">
                </div>
                <div class="hack-title">
                    <span class="card-title">{{name}}</span>
                </div>
                <div class="date">
                    <span class="card-title date">{{date}}</span>
                </div>
                <div class="location">
                    <span class="card-title">{{location}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
<template name="part2">
    <span class="card-title">Additional School Information</span>
    <form id="additionalInfo" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="principal_name" type="text" class="validate">
                <label for="principal_name">Principal Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="principal_email" type="email" class="validate">
                <label for="principal_email">Principal Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="main_admin" type="text" class="validate tooltipped" data-position="bottom" data-delay="50" data-tooltip="The main administrator who will control the school's account.">
                <label for="main_admin">Main Admin Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="admin_email" type="email" class="validate">
                <label for="admin_email">Admin Email</label>
            </div>
        </div>
    </form>
</template>
<template name="part3">
    <span class="card-title">Payment Information</span>
    <form id="paymentInfo" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="ccnum" type="text" class="validate">
                <label for="ccnum">Credit Card Number</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="cvc" type="tel" class="validate">
                <label for="cvc">CVC Number</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="expmonth" type="tel" class="validate tooltipped" data-position="bottom" data-delay="50" data-tooltip="The main administrator who will control the school's account.">
                <label for="expmonth">Experation Month</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="expyear" type="tel" class="validate">
                <label for="expyear">Experation Year</label>
            </div>
        </div>
    </form>
</template>
